<!DOCTYPE html>
<html>
<head>
	<title> View Distributor </title>
	<link rel="stylesheet" href="/assets/main_style.css" >
	<script language="JavaScript">
	function toggle(source) {
		checkboxes = document.getElementsByName('chkId[]');
		for(var i=0, n=checkboxes.length;i<n;i++) {
			checkboxes[i].checked = source.checked;
		}
	}
	</script>
</head>
<body>
	<%- include('../includes/header.ejs') %>
		<%- include('../includes/nav_admin') %>
			<%- include('../includes/aside_admin') %>
	<section>
		<h1>View Distributor</h1>
		<form action="" method="POST" class="form">
		<table class="table_displayData">
			<tr>
				<!-- <th> <input type="checkbox" onClick="toggle(this)" /> </th> -->
				<th>Sr. No.</th>
				<th>Username</th>
				<th>Area Code</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Address</th>
				<th> Edit </th>
			</tr>
						<% retailer.forEach(function(item){ %>
						
							<tr>
								<td>
									<%= item.retailer_id %>
								</td>
								<td>
									<%= item.username %>
								</td>
								<td>
									<%= item.area_id %>
								</td>
								<td>
									<%= item.phone %>
								</td>
								<td>
									<%= item.email %>
								</td>
								<td>
									<%= item.address %>
								</td>
								<td>
									<a href="/admin/retailer/del/<%= item.retailer_id %>">
										<span style="color: red;">X</span></a>&nbsp;
									<a href="/admin/retailer/edit/<%= item.retailer_id %>"><img src="/assets/images/edit.png" alt="edit" /></a>
								</td>
							</tr>
							<% }) %>
		</table>
		<input type="submit" value="Delete" class="submit_button"/>
		</form>
	</section>
	<%- include('../includes/footer.ejs') %>
</body>
</html>