<% include inc/view_header %>
    <% include inc/view_topmenu %>
        <% include inc/view_sidebar %>

            <div id="page-wrapper" style="background: url('/assets/images/bg.jpeg') no-repeat center;
            background-size: cover;">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Dashboard
                            </h1>
                        </div>
                    </div>
                    <!-- /.row -->

                    <section>
                        <ul class="dashborad-list">
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/cash.ico" alt="todaysell">
                                
                                <p style="font-size: 24px;">&#x20B9; 
                                    <% todaySell.forEach(function(item){ %>
                                        <%= item.sells_count_today %> 
                                   <% }) %>
                                </p>
                                <h3>Today Sales</h3>
                            </li>
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/today-sell.png" alt="totalsell">
                                
                                <p style="font-size: 24px;">&#x20B9;
                                    <% totalSell.forEach(function(item){ %>
                                         <%= item.sells_count %> 
                                    <% }) %>
                                </p>
                                <h3>Total Sales</h3>
                            </li>
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/user.ico" alt="user">
                                
                                <p style="font-size: 24px;">
                                    <% totalUser.forEach(function(item){ %>
                                        <%= item.users_count %> 
                                   <% }) %>
                                </p>
                                <h3>Users</h3>
                            </li>
                            
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/batch.png" alt="batch">
                                
                                <p style="font-size: 24px;">
                                    <% totalBatch.forEach(function(item){ %>
                                        <%= item.batch_count %> 
                                   <% }) %>
                                </p>
                                <h3>Batch Products</h3>
                            </li>
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/medicine.png" alt="medicine">
                                
                                <p style="font-size: 24px;">
                                    <% totalMedicine.forEach(function(item){ %>
                                        <%= item.med_count %> 
                                   <% }) %>
                                </p>
                                <h3>Total Medicines</h3>
                            </li>
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/supplier.png" alt="supplier">
                                
                                <p style="font-size: 24px;">
                                    <% totalSupplier.forEach(function(item){ %>
                                        <%= item.sup_count %> 
                                   <% }) %>
                                </p>
                                <h3>Total Suppliers</h3>
                            </li>
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/category.png" alt="category">
                                
                                <p style="font-size: 24px;">
                                    <% totalCategory.forEach(function(item){ %>
                                        <%= item.cat_count %> 
                                   <% }) %>
                                </p>
                                <h3>Total Categories</h3>
                            </li>
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/generic.png" alt="generic">
                                
                                <p style="font-size: 24px;">
                                    <% totalGeneric.forEach(function(item){ %>
                                        <%= item.generic_count %> 
                                   <% }) %>
                                </p>
                                <h3>Generic Items</h3>
                            </li>
                            <li style="background: rgba(40,57,101,.9);color: white;">
                                <img src="/assets/images/manufacture.png" alt="manfacturer">
                                
                                <p style="font-size: 24px;">
                                    <% totalManufac.forEach(function(item){ %>
                                        <%= item.manufac_count %> 
                                   <% }) %>
                                </p>
                                <h3>Manufacturers</h3>
                            </li>
                        </ul>
                    </section>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

            <% include inc/view_footer %>