
<!DOCTYPE html>
<html>
<head>
	<title> Distributor: Home </title>
	<link rel="stylesheet" href="/assets/main_style.css" />
</head>
<body>
	<%- include('../includes/header.ejs') %>
		<%- include('../includes/nav_retailer') %>
			<%- include('../includes/aside_retailer') %>
	<section>
		Welcome 
		<article>
			<h2>My Profile</h2>
			<table class="table_displayData">
				<tr>
					<th>Username</th>
					<th>Area Code</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Address</th>
					<th> Edit </th>
				</tr>
				<% profile.forEach(function(item){ %>
					<tr>
						<td>
							<%= item.username %>
						</td>
						<td>
							<%= item.area_id %>
						</td>
						<td>
							<%= item.phone %>
						</td>
						<td>
							<%= item.email %>
						</td>
						<td>
							<%= item.address %>
						</td>
						<td>
							<a href="/retailer/profile/edit/<%= item.man_id %>"><img src="/assets/images/edit.png" alt="edit" /></a>
						</td>
					</tr>
					<% }) %>
			</table>
		</article>
		<article>
			<h2>My Recent Orders</h2>
			<table class="table_displayData" style="margin-top:20px;">
			<tr>
				<th> Order ID </th>
				<th> Date </th>
				<th> Approved </th>
				<th> Status </th>
				<th> Details </th>
			</tr>
			<% totalOrder.forEach(function(item){ %>

								<tr>
									<td>
										<%= item.order_id %>
									</td>
									<td>
										<%= item.date %>
									</td>
									<td>
										<% if(item.approved==1) {%>
											Approved
										<%}else{%>
											Not Approved
										<%}%>
									</td>
									<td>
										<% if(item.status==1) {%>
											Completed
										<%}else{%>
											Pending
										<%}%>
									</td>
									<td>
										<a href="/retailer/order/view/<%= item.order_id %>">Details</a>
									</td>
									
								</tr>
								<% }) %>
		</table>
		</article>
	</section>
	<%- include('../includes/footer.ejs') %>
</body>
</html>